const ENV = {
  PORT: '',
  chatID: '',
  PIN: '',
  messageURL: '',
  botTOKEN: '',
  getCameraURL: '',
  adjustCameraURL: '',
  photosURL: '',
  TOKENS: [{
    title: '',
    token: ''
  }]
};

module.exports = ENV;
