{
    "devMode": (True or False),
    "PORT": (Service Port),
    "chat_id": ("Telegram bot id"),
    "messageURL": ("Telegram bot message API"),
    "PINS": {
        "relay": (PIN of relay),
        "state": (PIN of state),
        "led_red": (PIN of red led)
    },
    "botTOKEN": ("Token of bot"),
    "adjustCameraURL": ("Adjust camera API"),
    "getCameraURL": ("Get photo API"),
    "photosURL": ("Telegram send photo API"),
    "TOKENS": [
      {
        "title": "button",
        "token": ("Token code")
      },{
        "title": "rfid",
        "token": ("Token code")
      },{
        "title": "app",
        "token": ("Token code")
      }
    ]
}